      <label>Plazo (días):</label>
      <select name='plazo' id="plazo"  data-role="select" required data-filter-placeholder="Seleccione un plazo">
        <option value="">Seleccione un plazo</option>
        <% unless @plazos_y_tasas.blank? %>
            <% @plazos_y_tasas.each do |plazo| %>
                <option value="<%= plazo['id']%>"><%= plazo['plazo']%></option>
            <% end %>
        <% end %>
      </select>

