jQuery("#monto_calculado").html('<%= escape_javascript(render(:inline => "A un plazo de #{@tasa['plazo']} días la tasa es #{@tasa['tasa']}%. El monto obtenido será de $#{@monto_obtenido} y Monto Total $#{@monto_total}  ")) %>');
