<h1>Calculador de Plazos Fijos</h1>

<fieldset class="fieldset_border" id="form_tasa">
  <div id="msg_error_tasa"></div>
  <%= form_tag({:controller=>'calculador', :action=>'calcular_monto'}, :id => "form_calculo", :remote=> true) %>
  <div class="row">
    <div class="cell-md-4">
      <label>Monto $:</label>
      <input name="monto" type="number" id="monto" required >
    </div>
    <div class="cell-md-4">
      <label>Banco:</label>
      <select name='banco_id' id="banco_id" data-role="select" required data-on-change="cargar_plazo_banco();">
        <option >Seleccione un plazo</option>
        <% @bancos.each do |banco| %>
            <option value="<%= banco['id'] %>"><%= banco['nombre'] %></option>
        <% end %>
       </select>
    </div>
    <div class="cell-md-4" id="plazos">
        <%= render :partial => 'select_plazo'%>
    </div>
  </div>
  <div class="form-group">
    <%= submit_tag 'Calcular Plazo Fijo',  :class=>'button success'  %>
  </div>
</fieldset>
<br>
<div id="monto_calculado"></div>
<br>
<input id="mostrar_form_tasa" type="button" value="Ver Listado completo de Bancos" class="button info">

<div id="listado_bancos" style="display: none">
  <ul class="custom-list-marker">
  <% Banco.bancos_completo.each do |banco| %>
        <li data-marker="✓"><%= banco['nombre']%></li>
        <li>
          <table class="table">
            <thead>
                <tr>
                  <th>Plazo (Dias)</th>
                  <th>Tasa %</th>
                </tr>
            </thead>
            <tbody>
            <% banco['tasas'].each do |tasa|%>
                <tr>
                  <td><%= tasa['plazo'] %></td>
                  <td><%= tasa['tasa'] %></td>
                </tr>
            <%end%>
            </tbody>
          </table>

        </li>
  <% end %>
  </ul>
</div>


<script type="text/javascript">
    function cargar_plazo_banco(){
        $j.ajax({url: '<%= url_for :controller=>'calculador', :action => 'cargar_plazo_banco'%>',
            data: $j("#form_calculo").serialize(),
            dataType: 'script'})
    }
</script>

<script type="text/javascript">
    $j(document).ready(function()
    {
        $j("#mostrar_form_tasa").on( "click", function() {
            $j('#listado_bancos').toggle();
        });
    });
</script>